.titulo{
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
.titulo:hover{
    font-weight: 800;
    color: violet;
    cursor: pointer;
}
@keyframes redondear {
	0% {
		border-radius: 0%;
        background-color: blanchedalmond;
	}
	50% {
		border-radius: 25%;
        background-color: blueviolet;
	}
	100% {
		border-radius: 50%;
        background-color: violet;
	}
}

.JUAN{
    color: violet;
    background-color: aquamarine;
}
#JUANPENSATIVO{
    color: blueviolet;
    background-color: rgb(191, 191, 240);
}
#LADO1{
    width: 25vw;
    height: 40vh;
    border: 5px solid lightblue;
    margin: 10px;
    position: relative;
}
#LADO2{
    width: 25vw;
    height: 40vh;
    border: 5px solid blueviolet; 
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}

.cuadradoh{
    width: 25%;
    height: 25%;
    border: 5px solid blanchedalmond;
    position: absolute;
}
.cuadradoh:hover{
    animation-name: redondear;
    animation-duration: 2s;
    animation: redondear 2s linear infinite alternate;
}
.cuadradop{
    width: 25%;
    height: 25%;
    border: 5px solid blanchedalmond;
}
#cuadrado1{
    top: 0%;
    left: 0%;
}
#cuadrado2{
    top: 25%;
    left: 25%;
}
#cuadrado3{
    top: 0%;
    left: 50%;
}
#cuadrado4{
    top: 25%;
    left: 75%;
}
#cuadrado5{
    top: 50%;
    left: 0%;
}
#cuadrado6{
    top: 75%;
    left: 25%;
}
#cuadrado7{
    top: 50%;
    left: 50%;
}
#cuadrado8{
    top: 75%;
    left: 75%;
}
/* Estilo dibujo*/
#tituloDibujo {
text-align: center;
}

#lienzo {
width: 700px;
height: 680px;
background-color: rgb(119, 119, 95);
background-repeat: no-repeat;
background-size: cover;
border: 1px solid black;
margin: 0 auto;
position: relative;
}

.cabeza {
    width: 80px; /* ancho */
    height: 80px; /* alto */
    background-color: rgb(35, 24, 4); /* color de fondo */
    border-radius: 50%; /* redondea los bordes de la figura*/
    border: 3px solid rgb(35, 24, 4); /* borde de la figura: grosor, estilo, color */
    position: absolute; /* ubicar los elementos en una posición fija que definimos a continuación */
    top: 85px; /* posición desde el borde superior del lienzo */
    left: 550px; /* posición desde el borde izquierdo del lienzo */
}
.cabeza:hover {
    width: 80px; /* ancho */
    height: 80px;
    background-color: violet;
    cursor: pointer;
}
.cuadrado {
   width: 20px;
   height: -80px;
   border-style: solid;
   border-width: 0 25px 214px 25px;
   border-color: transparent transparent rgb(35, 24, 4); transparent;
   transform: rotate(183deg);
   position: absolute;
   top: 200px;
   left: 426px;
}
.cuadrado:hover{
    color: violet;
    cursor: pointer;
}
.triangulo {
   width: 25px;
   height: 0px;
   border-style: solid;
   border-width: 0 34.5px 150px 34.5px;
   border-color: transparent transparent rgb(35, 24, 4); transparent;
   transform: rotate(140deg);
   position: absolute;
   top: 95px;
   left: 580px;
}
.oreja{
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 9px 36px 7px;
   border-color: transparent transparent rgb(35, 24, 4); transparent;
   transform: rotate(10deg);
   position: absolute;
   top: 55px;
   left: 604px;
}
.cuello{
   width: 30px;
   height: 0px;
   border-style: solid;
   border-width: 0 53.5px 191px 53.5px;
   border-color: transparent transparent rgb(35, 24, 4); transparent;
   transform: rotate(59deg);
   position: absolute;
   top: 60px;
   left: 455px;
}
.rectangulo{
    width: 100px;
    height: 100px;
    background-color: rgb(251, 230, 0);
    position: absolute;
    top: 20px;
    left: 120px;
}
.boca{
    width: 26px; /* ancho */
    height: 26px; /* alto */
    background-color: rgb(35, 24, 4); /* color de fondo */
    border-radius: 50%; /* redondea los bordes de la figura*/
    border: 3px solid rgb(35, 24, 4); /* borde de la figura: grosor, estilo, color */
    position: absolute; /* ubicar los elementos en una posición fija que definimos a continuación */
    top: 205px; /* posición desde el borde superior del lienzo */
    left: 655px; /* posición desde el borde izquierdo del lienzo */
}
.pecho{
    width: 80px; /* ancho */
    height: 110px; /* alto */
    background-color: rgb(35, 24, 4); /* color de fondo */
    border-radius: 50%; /* redondea los bordes de la figura*/
    border: 3px solid rgb(35, 24, 4); /* borde de la figura: grosor, estilo, color */
    position: absolute; /* ubicar los elementos en una posición fija que definimos a continuación */
    transform: rotate(50deg);
    top: 185px; /* posición desde el borde superior del lienzo */
    left: 425px; /* posición desde el borde izquierdo del lienzo */ 
}
.panza{
    width: 150px; /* ancho */
    height: 50px; /* alto */
    background-color: rgb(35, 24, 4); /* color de fondo */
    border-radius: 50%; /* redondea los bordes de la figura*/
    border: 3px solid rgb(35, 24, 4); /* borde de la figura: grosor, estilo, color */
    position: absolute; /* ubicar los elementos en una posición fija que definimos a continuación */
    transform: rotate(70);
    top: 230px; /* posición desde el borde superior del lienzo */
    left: 300px; /* posición desde el borde izquierdo del lienzo */ 
}
/* línea hecha con border*/
.tronco {
    width: 200px;
    height: 100px;
    background-color: rgb(35, 24, 4);
    border: 1px solid rgb(35, 24, 4);
    position: absolute;
    top: 146px;
    left: 300px;
}
.cola{
    width: 150px; /* ancho */
    height: 150px; /* alto */
    background-color: rgb(35, 24, 4); /* color de fondo */
    border-radius: 50%; /* redondea los bordes de la figura*/
    border: 3px solid rgb(35, 24, 4); /* borde de la figura: grosor, estilo, color */
    position: absolute; /* ubicar los elementos en una posición fija que definimos a continuación */
    transform: rotate(70);
    top: 138px; /* posición desde el borde superior del lienzo */
    left: 200px; /* posición desde el borde izquierdo del lienzo */ 
}
.pata1 {
   width: 20px;
   height: -80px;
   border-style: solid;
   border-width: 0 25px 214px 25px;
   border-color: transparent transparent rgb(35, 24, 4); transparent;
   transform: rotate(172deg);
   position: absolute;
   top: 190px;
   left: 220px;
}
.pata2 {
   width: 20px;
   height: -80px;
   border-style: solid;
   border-width: 0 25px 214px 25px;
   border-color: transparent transparent rgb(35, 24, 4); transparent;
   transform: rotate(183deg);
   position: absolute;
   top: 190px;
   left: 210px;
}
.cola2 {
   width: 1px;
   height: 90px;
   border-style: solid;
   border-width: 0 25px 214px 25px;
   border-color: transparent transparent rgb(35, 24, 4); transparent;
   transform: rotate(183deg);
   position: absolute;
   top: 190px;
   left: 170px;
}
.pedro{
    position: absolute;
    color: aliceblue;
    font-size: 200px;
    top: 300px;
    left: 150px;
}
/* línea hecha con border*/
.lineaVertical {
    width: 0px;
    height: 100px;
    border: 3px solid rgb(0, 140, 255); /* borde de la figura: grosor, estilo, color */
    position: absolute;
    top: 10px;
    left: 390px;
}